<tr>
    <td style="max-width: 160px; padding: 0px 0px 10px 0px" valign="top">
        {{post_image}}
    </td>
    <td class="content-text-align" valign="top" style="padding: 0px 0px 20px 20px">
        <div aria-describedby="cke_125" aria-label="Editor de texto enriquecido, editor2" role="textbox"
            spellcheck="false" style="position: relative;" title="Editor de texto enriquecido, editor2"><span
            class="content-title-color general-font-family content-font-family"
            style="font-family:inherit; font-weight: bold; font-size: 20px; color: #393939;line-height: 1.15em;"><a href="{{titleURL}}">{{title}}</a></span>

            <p class="content-text-color general-font-family content-font-family"
                style="font-family:inherit;font-size: inherit; color:#000000; text-align:inherit;line-height: 1.2em;">
                {{content}}</p>
        </div>
    </td>
</tr>
